{% extends 'layout.html' %}
{% block body %}
  <h3 class='text-center text-muted mb-3'>Flask - SQLite CRUD Application</h3>
  <p class='text-right'><a href='{{url_for("add_user")}}' class='btn btn-success '>+Add User</a></p>
  <table class='table table-bordered'>
    <thead>
      <th>No</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Date of birth</th>
      <th>Class</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Active</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for row in datas %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{row.NAME}}</td>
          <td>{{row.SURNAME}}</td>
          <td>{{row.DATE_OF_BIRTH}}</td>
          <td>{{row.CLASS}}</td>
          <td>{{row.ADDRESS}}</td>
          <td>{{row.GENDER}}</td>
          <td>{{row.ACTIVE}}
            {% if row.ACTIVE=="нет" %}
            <a href='{{url_for("active_user",uid=row.UID,checked = true)}}' class='btn btn-success'>Activate</a>
            {% else %}
            <a href='{{url_for("active_user",uid=row.UID,checked = false)}}' class='btn btn-warning'>un-Activate</a>
            {% endif %}
          </td>
          <td><a href='{{url_for("edit_user",uid=row.UID)}}' class='btn btn-primary'>Edit</a></td>
          <td><a href='{{url_for("delete_user",uid=row.UID)}}' class='btn btn-danger' onclick='return confirm("Are You Sure")'>Delete</a></td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
{% endblock %}